.AddNewEmployeeBody {
    padding: 1.5em 1em;
}

.AddNewEmployeeBody h2 {
    margin-top: 0;
}

.formItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5em;
}

.directionRow {
    flex-direction: row;
    align-items: baseline;
}

.directionRow label {
    margin-right: 2em;
}

.formItem label {
    margin-bottom: .5em;
}

.formItem input,
.formItem textarea {
    width: 100%;
    padding: .3em .3em .3em .8em;
}

.formItem label[for="short-description"] ~ textarea {
    resize: none;
}

.formItem button {
    background-color: var(--gray);
    color: var(--black);
    border: none;
    padding: .2em 1em;
    cursor: pointer;
}

.formItem select {
    padding: .2em .5em;
}

.profileImage {
    width: 35%;
    min-width: 8em;;
    max-width: 15em;
    border-radius: 50%;
    align-self: center;
    margin-bottom: .5em;
}

.headerImage {
    width: 100%;
    margin-bottom: .5em;
}

.addImageInput {
    display: flex;
    width: 100%;
}

.addImageInput input {
    flex: 1;
}

.rightFloat {
    align-self: flex-end;
}

.addSkill {
    display: flex;
    width: 100%;
}

.addSkill input {
    flex: 1 1 10em;
}

.skills {
    margin-top: 1em;
}

.skills > div {
    display: flex;
}

.skills .skillsHeading {
    color: var(--dark);
    width: 5em;
    text-align: right;
    margin-right: 1em;
}

.skills .skillsList > span {
    display: inline-block;
    padding: .2em .7em;
    border-radius: 1em;
    background-color: var(--gray);
    margin-bottom: .5em;
}

.skills .skillsList > span:not(:last-child) {
    margin-right: .3em;
}

.skills .skillsList {
    flex: 0 1 100%;
}

.labelInline {
    display: flex;
    width: 100%;
    padding-bottom: .5em;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
}

.labelInline .addItemBtn {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 2em;
    height: 2em;
    font-size: 1.2em;
    border-radius: 50%;
}

.projectItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .7em 0 .7em .5em;
    border-bottom: 1px solid var(--gray);
}

.projectItem .event {
    flex: 1;
    padding-right: 1em;
}

.projectItem .event h3 {
    margin: 0 0 .3em 0;
    color: var(--dark);
}

.projectItem .event p {
    margin: 0;
}

.projectItem .date {
    font-size: 1.15em;
    font-weight: 600;
    color: var(--darker);
}

.projectItem .editBtn {
    background-color: transparent;
    margin-left: 2em;
    padding: .5em;
}

.formItem label[for="about-me"] ~ textarea {
    resize: vertical;
}

.addEmployeeBtn {
    background-color: var(--blue);
    color: var(--lighter);
    border: none;
    padding: .5em 1.2em;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    width: 100%
}