.labelInline {
    display: flex;
    width: 100%;
    padding-bottom: .5em;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
}

.labelInline .addItemBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 2em;
    height: 2em;
    font-size: 1.2em;
    border-radius: 50%;
}

.projectsList {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    border-left: .5em solid var(--gray);
}