.projects article {
    border: 1px solid var(--gray);
    margin-bottom: 1em;
}

.articleHeaderImg {
    position: relative;
}

.articleHeaderImg:before {
    content: "";
    display: block;
    padding-top: 46.87%;
}

.articleHeaderImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}

.articleBody {
    padding: 1em;
}

.inline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;;
}

.articleHeading {
    margin: 0;
}

.date {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--darker);
    margin-left: .5em;
}

.place {
    margin: 0;
    color: var(--dark);
}

.articleFooter {
    display: flex;
    justify-content: flex-end;
}

.moreDetailsBtn {
    background-color: var(--gray);
    color: var(--black);
    border: none;
    padding: .2em 1em;
    cursor: pointer;
}