.topBar {
    display: flex;
    justify-content: space-between;
    height: 2.6em;
    background-color: var(--dark);
}

.topBar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: .2em 1em;
}

.homeBtn {
    background: transparent;
    font-weight: 600;
    font-size: 1.4em;
    color: var(--lighter);
}

.addNewBtn {
    background-color: var(--blue);
    color: var(--lighter);
}