.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    border: 1px solid #ccc;
    padding: 1em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    box-sizing: border-box;
    transition: all .2s ease-in;
    transform: translateY(-100vh);
    opacity: 0;
}

.shown {
    transform: translateY(0);
    opacity: 1;
}

.Modal h3 {
    margin-top: 0;
}

.Modal button {
    background: var(--dark);
    color: var(--lighter);
    font-weight: 600;
    border: none;
    padding: .5em 1em;
    float: right;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row-reverse;
}

.header button {
    background: transparent;
    color: inherit;
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 0 .5em;
}