.EmployeeFormBody {
    padding: 1.5em 1em;
}

.EmployeeFormBody h2 {
    margin-top: 0;
}

.submitEmployeeBtn {
    background-color: var(--blue);
    color: var(--lighter);
    border: none;
    padding: .5em 1.2em;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    width: 100%
}