.images {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.headerImage {
    position: relative;
    width: 100%;
    max-height: 17em;
}

.headerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 17em;
}

.profileImage {
    position: absolute;
    bottom: 0;
    width: 25%;
    min-width: 8em;
    max-width: 10em;
    align-self: center;
    overflow: hidden;
    transform: translateY(50%);
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--gray);
}

.profileImage:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.profileImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: .3em;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom: 1px solid var(--gray);
}

.availability {
    align-self: flex-end;
    font-weight: 600;
    color: var(--green);
}

.bio {
    text-align: center;
    margin-top: calc(30vw - 25%);
}

.bio h2 {
    margin-bottom: 0;
}

.bio .profession {
    margin-top: .1em;
    font-style: italic;
    color: var(--dark);
}

.bio .short {
    text-align: start;
    text-indent: 1.2em;
}

.bioFooter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1em;
}

.bioFooter a {
    color: var(--dark);
    font-weight: 600;
}

.bioFooter button {
    background: transparent;
    border: 1px solid var(--gray);
    border-radius: .5em;
    padding: .3em 1.5em;
    font-weight: 600;
    color: var(--dark);
    cursor: pointer;
}

main {
    padding: 0 1em;
}

.navigation {
    display: flex;
    margin-bottom: 1em;
}

.navigation button {
    flex: 1 0 auto;
    background: transparent;
    border: none;
    color: var(--dark);
    font-weight: 600;
    padding: .5em 0;
    cursor: pointer;
    border-bottom: 1px solid var(--dark);
}

/*  PROJECTS  */
/* .projects {
    padding-top: 1em;
} */

.projects article {
    border: 1px solid var(--gray);
    margin-bottom: 1em;
}

.articleHeaderImg {
    position: relative;
}

.articleHeaderImg:before {
    content: "";
    display: block;
    padding-top: 46.87%;
}

.articleHeaderImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}

.articleBody {
    padding: 1em;
}

.inline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;;
}

.articleHeading {
    margin: 0;
}

.date {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--darker);
    margin-left: .5em;
}

.place {
    margin: 0;
    color: var(--dark);
}

.articleFooter {
    display: flex;
    justify-content: flex-end;
}

.moreDetailsBtn {
    background-color: var(--gray);
    color: var(--black);
    border: none;
    padding: .2em 1em;
    cursor: pointer;
}

/*-----------------------------------------*/
/*  ABOUT ME  */

.aboutLong {
    padding: 1em 1em 1.5em;
    border: 1px solid var(--gray);
}

.aboutMe h3 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
}

.aboutLong p {
    margin-bottom: 0;
}

.skills {
    padding: 1em;
}

.skills h4 {
    font-weight: 600;
    margin: .5em 0;
}

.skills > p {
    margin: 0;
}

.skills span {
    display: inline-block;
    border-radius: 1em;
    background-color: var(--light);
    margin-bottom: .5em;
    padding: .4em 1em;
}

.skills span:not(:last-child) {
    margin-right: .3em;
}

.list {
    padding: 1em 1em 0;
    border: 1px solid var(--gray);
    margin-bottom: 1.5em;
}

.listItem {
    display: flex;
    padding: 1em 0;
    align-items: center;
    /* width: 100%; */
}

.listItem:not(:last-child) {
    border-bottom: 1px solid var(--gray);
}

.listItem .listInfo {
    flex: 1 1;
    padding-right: 1em;
}

.listItem .listDate {
    font-size: 1.15em;
    font-weight: 600;
    color: var(--darker);
}

.listItem h4 {
    margin: 0;
}

.listItem p {
    margin: 0;
}