.skillsHeading {
    color: var(--dark);
    width: 5em;
    text-align: right;
    margin-right: 1em;
    padding-top: .4em;
}

.skillsHeading small {
    text-transform: uppercase;
}

.listItem {
    display: inline-block;
    border-radius: 1em;
    background-color: var(--light);
    margin-bottom: .5em;
}

.listItem:not(:last-child) {
    margin-right: .3em;
}

.listItem > span {
    display: inline-block;
    padding: .4em .0 .4em 1em;
}

.skillsList {
    flex: 0 1 100%;
}

.listItem .delBtn {
    padding: .4em .5em .4em .5em;
    line-height: 1;
    background-color: transparent;
    color: var(--darker);
}